.codex/

.trellis/.developer
.trellis/.runtime/
.trellis/workspace/*
!.trellis/workspace/*/
!.trellis/workspace/*/index.md
!.trellis/workspace/*/journal-*.md

**/.Xil/
**/*.cache/
**/*.gen/
**/*.hw/
**/*.ip_user_files/
**/*.runs/
**/sim_1/
**/xsim.dir/
**/work/
**/.msim_work*/
**/*_work/

*.jou
*.log
*.pb
*.wdb
*.qdb
*.qpg
*.qtl
*.wdf
*.wpc
*.dcp
*.rpt
*.wcfg
*.png
*.backup.jou
*.backup.log
transcript
*_tmp.tcl
